body {
  margin-top: 20vh;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: [first] 15% [col-start] auto [col-end] 15% [last];
  margin-bottom: 20vh;
  color: #3e3e3e;
}

#app {
  grid-column: 2 / span 1;
}

#logo {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 4.3rem;
  margin-bottom: 15vh;
  color: #fe9770;
}

.logoFont {
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #fe9770;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*hpg page*/
#hpgBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hpgContent {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1vw;
}

.hpgContentElem {
  grid-column: span 1;
}

/*about page*/
#abtContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#abtAuthImg {
  display: flex;
}
